a {
    font-family: sans-serif;
}

a:link {
    text-decoration: none;
    font-weight: normal;
    color: #000CFF;
    border-style: none;
    border-width: 0;
}

a:visited {
    text-decoration: none;
    font-weight: normal;
    color: #000CFF;
    border-style: none;
    border-width: 0;
}

a:hover {
    text-decoration: none;
    color: #930;
    border-style: none;
    border-width: 0;
}

a:active {
    text-decoration: none;
    font-weight: normal;
    color: #C00;
    border-style: none;
    border-width: 0;
}

a.offsite {
    text-decoration: none;
    font-weight: normal;
    color: #C66;
    border-style: none;
    border-width: 0;
}

div.form {
    border: 1px solid #AAAAAA;
    background: #FFFFFF;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

div.form tr.r1 {
    font-size: 12pt;
    font-family: "Tahoma", sans-serif;
    background-color: #EEEEEE;
}

div.form tr.r2 {
    font-size: 12pt;
    font-family: "Tahoma", sans-serif;
    background-color: #DDDDDD;
}

div.form td.c1 {
    font-family: "Tahoma", sans-serif;
    font-size: 12px;
    font-weight: bold;
    background-color: #cccccc;
}

div.form td.c2 {
    font-size: 12pt;
    font-family: "Tahoma", sans-serif;
    background-color: #eeeeee;
}

div.form th {
    font: bold 10pt "Tahoma", sans-serif;
}

div.list td, div.list th {
    padding-left: 12px;
    padding-right: 12px;
    border-bottom: 1px solid #0000FF;
}

div.list table {
    border-top: 1px solid #0000FF;
    border-right: 1px solid #0000FF;
    border-left: 1px solid #0000FF;
}

div.list th {
    background-color: #CCCCCC;
}

div.list td {
    background-color: #FFFFE0;
}

div.tblHead {
    border: 1px solid #A2B7C5;
    background: #E1F2FF;
    color: #0260A3;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    /*padding-top: 6px;*/
    /*padding-bottom: 6px;*/
    text-align: center;
}

div.tblHead h1 {
    font-family: "Tahoma", sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

div.tblHead p {
    font-family: "Tahoma", sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

#navbar {
    border-top: 1px solid #A2B7C5;
    border-bottom: 1px solid #A2B7C5;
    color: #000000;
    background-color: #D5E1E9;
    text-decoration: none;
}

#navbar td {
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: x-small;
    font-weight: bold;
    vertical-align: middle;
    padding: 2px 8px;
}

#footer {
    border-top: 1px solid #A2B7C5;
    border-bottom: 1px solid #A2B7C5;
    font-family: serif;
    background-color: #D5E1E9;
    text-decoration: none;
    text-align:center;
}

#footer td {
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: x-small;
    vertical-align: middle;
    padding: 2px 8px;
}

#redmsg {
    border: 2px solid #FF0000;
    background: #FFDDDD;
    color: #FF0000;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    padding: 4px;
    text-align: left;
}

#greenmsg {
    border: 1px solid #A2B7C5;
    background: #DDE5DD;
    color: #007700;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    padding: 4px;
    text-align: left;
}

#whitemsg {
    border: 1px solid #A2B7C5;
    color: #007700;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    padding: 4px;
    text-align: left;
}

div.buttons td, div.buttons th {
    padding-left: 12px;
    padding-right: 12px;
    border-bottom: 1px solid #0000FF;
}

div.buttons table {
    border-top: 1px solid #0000FF;
    border-right: 1px solid #0000FF;
    border-left: 1px solid #0000FF;
}

div.buttons th {
    background-color: #CCCCCC;
}

div.buttons td {
    background-color: #FFFFE5;
}

div.prompt {
    font-family: "Tahoma", sans-serif;
    font-weight: bold;
    text-align: left;
    color: #0260A3;
    margin-bottom: 12px;
}

div.workflow td, div.buttons th {
    padding-left: 12px;
    padding-right: 12px;
    border-bottom: 1px solid #0000FF;
}

div.workflow table {
    border-top: 1px solid #0000FF;
    border-right: 1px solid #0000FF;
    border-left: 1px solid #0000FF;
}

div.workflow td {
    background-color: #FFFFA5;
}

table.form {
    border: 1px solid #AAAAAA;
    background: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    font-size: 12pt;
}

table.form tr.r1 {
    font-family: "Tahoma", sans-serif;
    background-color: #EEEEEE;
}

table.form tr.r2 {
    font-family: "Tahoma", sans-serif;
    background-color: #DDDDDD;
}

.wrap {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    wrap: virtual;
}
/*new look*/
#container {
    margin: 0 auto;
    width: 960px;
    text-align: left;
}

#content {
    float: left;
    border-left: #d7e2e8 1px solid;
    border-right: #d7e2e8 1px solid;
    margin: 0 auto;
    width: 958px;
    background-color: #ffffff;
}

body {
    text-align: center;
    font-size: 11px;
    font-family: verdana, lucida, arial, helvetica, sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #FFFFFF;
}

DIV#header {
    border-bottom: 4px #065184 solid;
    width: 100%;
    float: left;
}
.page-header {
    font-size: 25px;
    font-weight: bold;
    color: #456c82;
    font-family: Times New Roman, fantasy;
    font-style: italic;
    margin-left: 5px;
}

.page-header a:link {
    color: #456c82;
    text-decoration: none;
}

.page-header a:visited {
    color: #456c82;
    text-decoration: none;
}

.page-header a:hover {
    color: #5ca5cd;
    text-decoration: none;
}

.page-login-info {
    text-align: right;
    margin-right: 5px;
    font-weight: bold;
    padding-top: 10px;
}
.quickLinks {
    text-align:right;
    margin-right:5px;
    font-size:10pt;
}

.quick-menu {
    padding-top: 1px;
    text-align: center;
    border-bottom: 4px #065184 solid;
}
.quick-menu table {
    border: 0px solid;
    background-color: #ccd7db;
}

.floatLeft {
    float:left;
}
.floatRight {
    float:right;
}
.left {
    float: left;
    padding-left: 20px;
}
.right {
    float: right;
    padding-right: 20px;
}
legend {
    font-size: 120%;
    text-align: left;
    padding-right: 20px;
}

legend.main {
    color: #000000;
    padding-left: 15px;
    padding-right: 30px;
    padding-bottom: 2px;
    font-size: 140%;
    background-color: #B7D4E8;
    border: 1px solid #666;
}

fieldset {
    border: 1px solid #d2d2d2;
    padding-bottom: 10px;
}

fieldset.summary {
    padding: 0;
    margin: 6px;
    background-color: #e6eaee;
}

fieldset.summary td {
    padding: 5px;
}

fieldset.summary th {
    background-color: #DCDEE0;
    border-bottom: 1px solid #FFFFFF;
    padding: 5px;
    text-align: left;
    vertical-align:middle;
    font-weight:bold;
}

fieldset.main {
    border: #858585 1px solid;
    margin: 10px 5px;
    background-color: #fbfbfb;
    text-align: left;
}

.astericRed {
    color: #FF0000;
}

input.fieldSearch {
    font-size:10px;
    margin-right:5px;
    background: white url(../../resources/images/magglass.png) no-repeat left center;
    padding-left:17px;
}
#buttons{
    height: 33px;
    margin:0 5px;
    padding-top: 6px;
    text-align: center;
    vertical-align: middle;
    background: url(../../resources/images/buttons_bg.gif) repeat-x scroll 0 0 transparent;
}
.ferror {
    color: #ff0000;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin: 0;
}

#greenmsg, #redmsg, #orangemsg, #div_global_error, #infomsg {
    margin: auto;
    padding: 5px 5px 5px 10px;
    height: auto;
    width: 300px;
    left: 35%;
    background-color: #ffffdf;
    border: 1px solid #d7d7d7;
    text-align: left;
    display: table;
}

#div_global_error span.ferror {
    color: #000000;
    font-weight: normal;
    margin: 1px 0 1px 20px;
    font-size: 100%;
    vertical-align: top;
    background: url(/resources/images/msg_bull1.gif) no-repeat left center;
}


#greenmsg h1, #redmsg h1, #orangemsg h1, #div_global_error h1 {
    font-family: arial, sans-serif;
    font-size: 120%;
    font-weight: bold;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    text-indent:20px;
}
#redmsg h1.donemsg, #div_global_error h1.donemsg {
    background: url(/resources/images/error_icon.gif) no-repeat 5px center;
    color: #000000;
    padding: 10px;
}

#greenmsg h1.donemsg {
    padding: 10px;
    background: url(/resources/images/success_icon.gif) no-repeat 5px center;
    color: #000000;
    white-space: normal;
    text-align: center;
    font-size: 13px;
}

#orangemsg h1 {
    background: url(/resources/images/attention-icon.gif) no-repeat left center;
    color: #FF7D00;
    white-space: normal;
}
#redmsg h1, #div_global_error h1 {
    background: url(/resources/images/error_icon.gif) no-repeat left center;
    color: #FF0000;
}

#greenmsg {
    border: #d7d7d7 1px solid;
    padding: 5px;
    width: 60%;
    font-size: 13px;
    font-weight: bold;
}
/*List Table*/
.listTable {
    font-size: 10pt;
    text-align: left;
    font-family:Calibri, tahoma, arial, sans-serif;
    white-space:nowrap;
    border-collapse:collapse;
    background-color:#FFFFFF;
    border:1px solid #CCDDFF;
    float:left;
    width:100%;
    margin:2px;
}
.listTable thead tr {
    margin-right:10px;
    width:80%;
    text-align:left;
    background-color:#D7DFFE;
    color:#234;
    font-weight:bold;
}
.listTable tbody tr {
    height:20px;
    background-color:#FFFFFF;
}
.listTable tr td {
    background-color:inherit;
    padding:3px;
    white-space:normal;
    border-bottom:1px solid #CCDDFF;
}
.listTable tr.odd {
    background-color: #F4FFE8;
}
/*List Table Cozy*/
table.listTableCozy {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.listTableCozy thead tr th, table.listTableCozy tfoot tr th {
	background-color: #CBE8FF;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.listTableCozy thead tr .header {
	cursor: pointer;
}
table.listTableCozy tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: middle;
}
table.listTableCozy tbody tr.odd td {
	background-color:#F0F0F6;
}

.listData {
    width: 100%;
    border: 0;
    border-collapse: collapse;
}
.listData td {
    padding:0px;
}

form td.label {
    /*font-size:10px;*/
    vertical-align:middle;
    font-weight:bold;
    width:170px;
    padding: 5px;
    text-align: left;
    background-color: #dcdee0;
    border-bottom: 1px solid #FFF;
}
form td.label2 {
    font-size:10px;
    vertical-align:middle;
    font-weight:bold;
    width:200px;
}
.clearBoth {
    clear:both;
}
.noteRow {
    clear: both;
    border: #069 1px solid;
    padding: 10px;
    margin: 10px;
    width: 95%;
    color: #069;
    background-color: #f3f3f3
}

/*Mail*/
.messageRow {
    cursor: pointer;
}

.messageRow td {
    border-bottom: 1px solid;
    border-color: inherit;
}

.messageRow .PagedTableView_cell {
    padding: 1px 5px 1px 7px;
    margin:0;
    overflow: hidden;
    cursor: pointer;
    -moz-user-select: none;
    white-space: nowrap;
    outline: 0;
}
.recipientListBox {
		border:2px solid #b2ccdc;
		font-size:11px;
        height:60px;
}

div.encodedRecipients {
    visibility: hidden;
    background-color: aqua;
}

#saveReference{
    margin-bottom: 10px;
    border: 1px solid #A2B7C5;
}

.read td {
    font-weight:normal;
}
.unread td {
    font-weight:bold;
}



#box-table-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	/*margin: 45px;*/
	/*width: 960px;*/
	text-align: left;
	border-collapse: collapse;
}
#box-table-a th
{
	font-size: 13px;
	font-weight: bold;
	padding: 8px;
	background: #92cbff;
	border-top: 4px solid #9ed1ff;
	border-bottom: 1px solid #fff;
	color: #039;
}
#box-table-a td
{
	padding: 8px;
	background: #e1f2ff;
	border-bottom: 1px solid #fff;
	color: #234892;
	border-top: 1px solid transparent;
}
#box-table-a tr:hover td
{
	background: #bfe2ff;
	color: #00256f;
}
